@import url(icon.css);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.teemowork_TeemoworkTheme___HTML {
  font-family: "Source Sans Pro",sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.teemowork_TeemoworkTheme___Content {
  padding-top: 20px;
}

.jsx_style_property_BuiltinStyle___centering {
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
}

.jsx_style_property_BuiltinStyle___unselectable::selection {
  background-color: hsla(0,0%,0%,0);
}

.jsx_style_property_BuiltinStyle___unselectable::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.jsx_style_property_BuiltinStyle___unselectable {
  cursor: default;
}

.jsx_application_HeaderStyle___TopMenuGroup {
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 1px 1px hsla(0,0%,0%,0.15);
  border: 1px solid hsl(0,0%,7%);
  border-radius: 6px;
  background-image: -webkit-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%));
  background-image: linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%));
}

.jsx_application_HeaderStyle___TopMenu {
  position: relative;
  display: inline-block;
  border-right: 1px solid hsl(0,0%,7%);
  min-width: 120px;
  z-index: 1;
  text-align: center;
}

.jsx_application_HeaderStyle___MenuLink:hover {
  color: hsl(0,0%,97%);
}

.jsx_application_HeaderStyle___MenuLink {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: hsl(0,0%,60%);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

*:hover>.jsx_application_HeaderStyle___SubMenuGroup {
  opacity: 1;
  visibility: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.jsx_application_HeaderStyle___SubMenuGroup {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  visibility: hidden;
  position: absolute;
  top: 42px;
  left: 0;
  background-color: hsl(0,0%,27%);
  background-image: -webkit-linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%));
  background-image: linear-gradient(hsl(0,0%,27%),hsl(0,0%,7%));
  width: 120px;
  box-shadow: 0 -1px hsla(0,0%,100%,0.3);
  opacity: 0;
  border-radius: 3px;
  transition-property: opacity,visibility,margin-left,margin-right,margin-top,margin-bottom;
  transition-duration: 0.2s,0.2s,0.2s,0.2s,0.2s,0.2s;
  transition-delay: 80ms,80ms,80ms,80ms,80ms,80ms;
  transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out,ease-in-out;
}

.jsx_application_HeaderStyle___SubMenu:hover:first-child {
  border-top-right-radius: 3px;
}

.jsx_application_HeaderStyle___SubMenu:hover:last-child {
  border-bottom-left-radius: 3px;
}

.jsx_application_HeaderStyle___SubMenu:hover {
  background-color: hsl(197,99%,37%);
  background-image: -webkit-linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%));
  background-image: linear-gradient(hsl(197,97%,47%),hsl(197,99%,37%));
}

.jsx_application_HeaderStyle___SubMenu {
  display: block;
  border-bottom: 1px solid hsl(0,0%,32%);
}

.jsx_bwt_FormUIStyle___Focus .jsx_bwt_SelectStyle___SelectForm {
  border: hsla(206,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(206,79%,62%,0.6);
}

.jsx_bwt_SelectStyle___SelectForm {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 3px;
  width: 185px;
  padding-right: 34px;
}

.jsx_bwt_SelectStyle___SelectItemList {
  width: 100%;
  max-height: 168px;
  background-color: white;
  border: solid 1px hsl(0,0%,80%);
}

.jsx_bwt_SelectStyle___SelectArrow {
  position: absolute;
  top: 0;
  right: 0;
}

.jsx_bwt_FormUIStyle___Focus.jsx_bwt_FormUIStyle___FormRoot {
  box-shadow: inset 0 2px 4px hsla(0,0%,0%,0.15),0 1px 2px hsla(0,0%,0%,0.05);
}

.jsx_bwt_FormUIStyle___FormRoot {
  display: inline-block;
  position: relative;
  font-size: 14px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: liner;
}

.jsx_bwt_FormUIStyle___Disable::after {
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,0%,0);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}

.jsx_bwt_view_PopupViewStyle___Bottom::before {
  display: block;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -8px;
  border: solid hsla(0,0%,0%,0) 8px;
  border-bottom: hsla(0,98%,97%,0.9);
}

.jsx_bwt_view_PopupViewStyle___Bottom::after {
  display: block;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -5px;
  border: solid hsla(0,0%,0%,0) 5px;
  border-bottom: black;
}

.jsx_bwt_view_PopupViewStyle___Bottom {
  display: block;
  position: absolute;
  z-index: 100;
  box-shadow: 7px hsl(0,10%,0%);
  opacity: 0;
  background-image: -webkit-linear-gradient(hsla(0,10%,0%,0.85),hsl(0,10%,0%));
  background-image: linear-gradient(hsla(0,10%,0%,0.85),hsl(0,10%,0%));
  border-radius: 5px;
  border: solid 2px hsla(0,98%,97%,0.9);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: hsl(0,99%,97%);
  pointer-events: none;
}

.jsx_bwt_view_PopupViewStyle___Show {
  opacity: 1;
}

.jsx_bwt_SelectStyle___SelectItem:hover {
  background-color: hsla(206,0%,62%,0.8);
}

.jsx_bwt_SelectStyle___SelectItem {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  cursor: pointer;
}

.jsx_bwt_SelectStyle___SelectedItem {
  background-color: hsla(206,79%,62%,0.8);
}

.jsx_bwt_view_ScrollableListViewStyle___ViewabletemView::selection {
  background-color: hsla(0,0%,0%,0);
}

.jsx_bwt_view_ScrollableListViewStyle___ViewabletemView::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.jsx_bwt_view_ScrollableListViewStyle___ViewabletemView {
  display: block;
  position: relative;
  overflow-y: scroll;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.jsx_bwt_view_ScrollableListViewStyle___RenderableItemView {
  display: block;
  overflow: hidden;
}

.jsx_bwt_view_ScrollableListViewStyle___Spacer {
  display: block;
}

.jsx_bwt_view_ScrollableListViewStyle___ItemColumnView {
  display: block;
}

.jsx_bwt_view_SlidableViewStyle___ViewableArea {
  overflow-y: hidden;
  visibility: hidden;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
}

.jsx_bwt_view_SlidableViewStyle___Shown .jsx_bwt_view_SlidableViewStyle___Slider {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  visibility: visible;
}

.jsx_bwt_view_SlidableViewStyle___Slider {
  display: block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition-property: -webkit-transform,transform,visibility;
  transition-duration: 200ms,200ms,200ms;
  transition-delay: 0,0,0;
  transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
}

.jsx_bwt_FormUIStyle___Focus .jsx_bwt_FormUIStyle___ButtonForm {
  border: hsla(206,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(206,79%,62%,0.6);
}

.jsx_bwt_FormUIStyle___ButtonForm::selection {
  background-color: hsla(0,0%,0%,0);
}

.jsx_bwt_FormUIStyle___ButtonForm::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.jsx_bwt_FormUIStyle___ButtonForm:hover {
  background-color: hsl(0,0%,93%);
}

.jsx_bwt_FormUIStyle___ButtonForm:active {
  border: hsl(0,0%,60%);
  background-color: hsl(0,0%,91%);
  background-image: none;
  box-shadow: inset 0 2px 4px hsla(0,0%,0%,0.15),0 1px 2px hsla(0,0%,0%,0.05);
}

.jsx_bwt_FormUIStyle___ButtonForm {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 3px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;
  background-color: hsl(0,0%,87%);
  background-image: -webkit-linear-gradient(white,hsla(0,0%,100%,0));
  background-image: linear-gradient(white,hsla(0,0%,100%,0));
  text-decoration: none;
  text-shadow: 0 1px hsla(0,0%,100%,0.9);
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.jsx_bwt_FormUIStyle___Icons::after {
  color: hsl(0,0%,60%);
  vertical-align: middle;
  content: attr(icon);
}

.jsx_bwt_FormUIStyle___Icons:hover::after {
  color: hsl(0,0%,40%);
}

.jsx_bwt_FormUIStyle___Icons {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 28px;
  width: 28px;
  height: 28px;
}

.jsx_bwt_FormUIStyle___Focus .jsx_bwt_FormUIStyle___InputForm {
  border: hsla(206,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(206,79%,62%,0.6);
}

.jsx_bwt_FormUIStyle___InputForm {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 3px;
  width: 185px;
}

.jsx_bwt_FormUIStyle___InvalidInputForm:focus {
  border: hsla(26,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(26,79%,62%,0.6);
  box-shadow: 0 0 8px hsla(26,79%,62%,0.6);
}

.jsx_ui_piece_PieceStyle___InputForm:focus {
  border: hsla(206,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(206,79%,62%,0.6);
}

.jsx_ui_piece_PieceStyle___InputForm {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 3px;
  width: 185px;
}

.jsx_ui_piece_PieceStyle___FormBase {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.jsx_ui_piece_PieceStyle___BorderedFormBase:focus {
  border: hsla(206,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(206,79%,62%,0.6);
}

.jsx_ui_piece_PieceStyle___BorderedFormBase {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 3px;
}

.jsx_ui_piece_PieceStyle___InputBase:focus {
  border: hsla(206,79%,62%,0.8);
  box-shadow: inset -1px 1px 1px hsla(0,0%,0%,0.1),0 0 8px hsla(206,79%,62%,0.6);
}

.jsx_ui_piece_PieceStyle___InputBase {
  height: 28px;
  vertical-align: middle;
  outline-style: none;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border: solid 1px hsl(0,0%,80%);
  border-radius: 3px;
  width: 185px;
}

.jsx_ui_piece_FormStyle___CheckBoxSVG {
  width: 16px;
  height: 16px;
}

.jsx_ui_piece_FormStyle___CheckBox {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
  stroke-miterlimit: 1;
  stroke-width: 3px;
  fill: none;
}

.jsx_style_StyleDescriptor___VBox {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.jsx_ui_piece_SlidableViewStyle___ViewableArea {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-y: hidden;
  visibility: hidden;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
}

.jsx_ui_piece_SlidableViewStyle___Shown .jsx_ui_piece_SlidableViewStyle___Slider {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  visibility: visible;
}

.jsx_ui_piece_SlidableViewStyle___Slider {
  display: block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition-property: -webkit-transform,transform,visibility;
  transition-duration: 200ms,200ms,200ms;
  transition-delay: 0,0,0;
  transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
}

.jsx_style_StyleDescriptor___HBox {
  display: flex;
  display: -webkit-flex;
}

.STYLE157662396 {
  display: block;
  margin-bottom: 10px;
}

.STYLE128654041 {
  position: relative;
  display: block;
}

.STYLE1592196548 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  line-height: 0;
  width: 702px;
}

.STYLE465257140 {
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: solid 2px hsl(0,10%,10%);
  border-left: solid 2px hsl(0,10%,10%);
}

.STYLE1067420963 {
  opacity: 0;
  margin-right: -70px;
}

.STYLE1614620123:hover::after {
  opacity: 0;
}

.STYLE1614620123::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: hsla(0,100%,100%,0.2);
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
}

.STYLE1614620123 {
  display: block;
  width: 70px;
  height: 70px;
  border-bottom: solid 2px hsl(0,10%,10%);
  border-right: solid 2px hsl(0,10%,10%);
  cursor: pointer;
  background-image: url(src/main/resources/teemowork/champions.jpg);
  background-size: cover;
  background-origin: border-box;
}

.STYLE157084869::before {
  display: block;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -11px;
  border: solid hsla(0,0%,0%,0) 11px;
  border-top: hsl(0,98%,0%);
}

.STYLE157084869::after {
  display: block;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -5px;
  border: solid hsla(0,0%,0%,0) 5px;
  border-top: hsl(0,98%,97%);
}

*:hover~.STYLE157084869 {
  opacity: 1;
  bottom: 70px;
}

.STYLE157084869 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: -webkit-linear-gradient(hsla(0,98%,97%,0.6),hsl(0,98%,97%));
  background-image: linear-gradient(hsla(0,98%,97%,0.6),hsl(0,98%,97%));
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -55px;
  min-width: 110px;
  z-index: 1;
  opacity: 0;
  border: 4px solid hsl(0,98%,0%);
  border-radius: 5px;
  pointer-events: none;
  transition-property: opacity,bottom;
  transition-duration: 0.2s,0.2s;
  transition-delay: 100ms,100ms;
  transition-timing-function: ease-in-out,ease-in-out;
}

.STYLE468154998:not(:last-child)::after {
  content: '/';
  color: hsl(0,0%,82%);
  margin-left: 1px;
  margin-right: 1px;
}

.STYLE828174704 {
  color: hsl(46,99%,32%);
}

.STYLE2021178331 {
  cursor: help;
}

.STYLE636996664 {
  margin-right: 1em;
}

.STYLE90383930 {
  font-weight: bolder;
}

.STYLE1407352983 {
  color: hsl(0,0%,35%);
}

.STYLE1853443923 {
  color: hsl(194,69%,32%);
  margin-left: 0.5em;
  opacity: 0.8;
}

.STYLE899179938 {
  display: inline-block;
  width: 4em;
  vertical-align: middle;
}

.STYLE1570485915 {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.STYLE163537874 {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.STYLE2136210488 {
  display: flex;
  display: -webkit-flex;
}

.STYLE1996472700 {
  display: flex;
  display: -webkit-flex;
  margin-bottom: 25px;
  max-width: 600px;
}

.STYLE982495267 {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: 1.2em;
}

.STYLE651638041 {
  max-width: 290px;
}

.STYLE1219452728 {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 45px;
}

.STYLE1079214960 {
  display: block;
  margin-bottom: 0.4em;
}

.STYLE119156209 {
  margin-right: 0.5em;
  font-weight: bold;
}

.STYLE419082230 {
  margin-right: 0.5em;
}

.STYLE1835105031 {
  display: block;
  margin-bottom: 0.2em;
  font-size: smaller;
}

.STYLE2090037997 {
  display: block;
  font-size: smaller;
  margin-top: 0.4em;
}

.STYLE449611579 {
  color: hsl(43,100%,40%);
  font-weight: bolder;
  padding-right: 0.5em;
}

.STYLE2089747578.STYLE497368911 {
  cursor: default;
}

.STYLE497368911 {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.STYLE193206035 {
  display: block;
  margin-bottom: 10px;
}

.STYLE1072635499 {
  display: inline-block;
  width: 240px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(hsla(0,100%,100%,0.6),hsla(0,100%,100%,0)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAoSURBVDhPYxBEAgIMSkhAgcEFCTgwdCCBBoZRfaP6RvWN6hvVR5Y+APADQlQnmrINAAAAAElFTkSuQmCC);
  background-image: linear-gradient(hsla(0,100%,100%,0.6),hsla(0,100%,100%,0)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAoSURBVDhPYxBEAgIMSkhAgcEFCTgwdCCBBoZRfaP6RvWN6hvVR5Y+APADQlQnmrINAAAAAElFTkSuQmCC);
  background-attachment: scroll,scroll;
  background-position: 0% 0%,0% 0%;
  background-repeat: repeat,repeat;
  background-size: auto,auto;
  background-origin: padding-box,padding-box;
  background-color: hsl(340,50%,85%);
}

.STYLE83812683 {
  display: inline-block;
  width: 240px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(hsla(0,100%,100%,0.6),hsla(0,100%,100%,0)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAoSURBVDhPYxBEAgIMSkhAgcEFCTgwdCCBBoZRfaP6RvWN6hvVR5Y+APADQlQnmrINAAAAAElFTkSuQmCC);
  background-image: linear-gradient(hsla(0,100%,100%,0.6),hsla(0,100%,100%,0)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAoSURBVDhPYxBEAgIMSkhAgcEFCTgwdCCBBoZRfaP6RvWN6hvVR5Y+APADQlQnmrINAAAAAElFTkSuQmCC);
  background-attachment: scroll,scroll;
  background-position: 0% 0%,0% 0%;
  background-repeat: repeat,repeat;
  background-size: auto,auto;
  background-origin: padding-box,padding-box;
  background-color: hsl(220,50%,85%);
}

.STYLE298045999 {
  display: inline-block;
  width: 240px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(hsla(0,100%,100%,0.6),hsla(0,100%,100%,0)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAoSURBVDhPYxBEAgIMSkhAgcEFCTgwdCCBBoZRfaP6RvWN6hvVR5Y+APADQlQnmrINAAAAAElFTkSuQmCC);
  background-image: linear-gradient(hsla(0,100%,100%,0.6),hsla(0,100%,100%,0)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAQMAAABKLAcXAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAoSURBVDhPYxBEAgIMSkhAgcEFCTgwdCCBBoZRfaP6RvWN6hvVR5Y+APADQlQnmrINAAAAAElFTkSuQmCC);
  background-attachment: scroll,scroll;
  background-position: 0% 0%,0% 0%;
  background-repeat: repeat,repeat;
  background-size: auto,auto;
  background-origin: padding-box,padding-box;
  background-color: hsl(100,50%,85%);
}

.STYLE978609035::selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE978609035::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE978609035 {
  color: hsla(0,0%,100%,0.7);
  font-size: 26px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  padding-left: 7px;
}

.STYLE2106535660::selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE2106535660::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE2106535660 {
  display: block;
  margin-top: 14px;
  margin-bottom: 14px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.STYLE243821743 {
  visibility: hidden;
}

.STYLE2089747578 .STYLE227843012 {
  border: hsl(120,0%,65%);
}

.STYLE700603324 .STYLE227843012 {
  border: hsl(50,40%,65%);
}

.STYLE227843012 {
  display: block;
  width: 45px;
  height: 45px;
  border: hsl(120,40%,65%) 1px solid;
  border-radius: 5px;
}

.STYLE2089747578 .STYLE1887041776 {
  display: none;
}

.STYLE700603324 .STYLE1887041776 {
  color: hsl(50,40%,65%);
}

.STYLE1887041776 {
  display: block;
  width: 43px;
  bottom: 1px;
  left: 1px;
  position: absolute;
  padding-right: 5px;
  border-bottom-left-radius: 5px;
  background-color: hsla(0,0%,0%,0.3);
  color: hsl(120,40%,65%);
  font-size: 11px;
  text-shadow: 1px 0 black,0 1px black,-1px 0 black,0 -1px black;
  text-align: right;
}

.STYLE303888116::before {
  display: block;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -8px;
  border: solid hsla(0,0%,0%,0) 8px;
  border-top: hsla(0,98%,97%,0.9);
}

.STYLE303888116::after {
  display: block;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -5px;
  border: solid hsla(0,0%,0%,0) 5px;
  border-top: hsl(0,10%,0%);
}

.STYLE2089747578 .STYLE303888116 {
  color: hsl(120,0%,65%);
}

*:hover~.STYLE303888116 {
  opacity: 1;
  visibility: visible;
  bottom: 57px;
}

.STYLE303888116 {
  display: block;
  position: absolute;
  bottom: 80px;
  left: -88px;
  width: 220px;
  opacity: 0;
  z-index: 100;
  box-shadow: 7px hsl(0,10%,0%);
  background-image: -webkit-linear-gradient(hsla(0,10%,0%,0.75),hsl(0,10%,0%));
  background-image: linear-gradient(hsla(0,10%,0%,0.75),hsl(0,10%,0%));
  border-radius: 5px;
  border: solid 2px hsla(0,98%,97%,0.9);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  visibility: hidden;
  color: hsl(0,99%,97%);
  font-size: smaller;
  pointer-events: none;
  transition-property: opacity,visibility,bottom;
  transition-duration: 0,0,0;
  transition-delay: 0,0,0;
  transition-timing-function: ease-in-out,ease-in-out,ease-in-out;
}

.STYLE1790862011::selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE1790862011::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE1790862011 {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  cursor: pointer;
}

.STYLE526418510::selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE526418510::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE526418510 {
  margin-left: 2px;
  margin-right: 2px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  cursor: pointer;
}

.STYLE18976274::selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE18976274::-moz-selection {
  background-color: hsla(0,0%,0%,0);
}

.STYLE18976274 {
  display: block;
  margin-bottom: 0.7em;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  font-size: 16px;
  font-weight: bolder;
  color: hsl(60,100%,85%);
}

